/*  Be careful 5G Active     */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(231, 231, 231, 0) rgba(231, 231, 231, 0);
}
*::-webkit-scrollbar {
  width: 1px;
}
*::-webkit-scrollbar-track {
  background: rgba(231, 231, 231, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(231, 231, 231, 0)rgb(231, 231, 231);
  border-radius: 1px;
  border: 1px solid rgba(231, 231, 231, 0);
}
/*  Be careful 5G Active     */



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance:none;
  margin: 0;
}
input[type="number"]{
  -moz-appearance:textfield;
}

/* Change auto input */
input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
/*textarea:-webkit-autofill,*/
/*textarea:-webkit-autofill:hover,*/
/*textarea:-webkit-autofill:focus,*/
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #282828 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#skin{
  width: 100vw;
  height: 100vh;
  background-color: #343b46;
}

#fixskin{
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
}


#miniskin{
  width: 100vw;
  height: 100vh;
  background-color: #343b46;
  overflow-y: scroll;
}

#minilot{
  width: 100vw;
  height: 100vh;
  background-color: #0e5bd6;
  overflow-y: scroll;
}


#menubar{
  z-index: 2;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    backdrop-filter: blur(1rem);
    background-color: #0000005d;
}

#iconsize{
  height: 60px;
  width: 60px;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top:40px;
  padding: 10px;
  overflow: hidden;
}

#processing{
  height: 200px;
  width: 300px;
  position: absolute;
  margin: auto;
  border-radius: 15px;
  background-color: #121212;
  top:0;bottom: 0;left: 0;right: 0;
  box-shadow: 1px 3px 10px 2px black;
}
#pronote{
  position: absolute;
  bottom: 45px;
  margin: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  color: white;
  font-size: 16px;
}

#centerfill{
position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
margin: auto;
height: 100px;
width: 100px;
border-radius: 50%;
background-color: white;

}


#centerfill2{
  position: none;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  
  }

  #centerfill3{
    position: none;
    margin-top: 10px;
    height: 70px;
    width: 100px;
    border-radius: 50%;
    
    }
#clicktext{
  cursor: pointer;
  font-size: 13px;
  color: #00a8f3;
}


#allinput{
  color: white;
  height: 35px;
  font-size: 15px;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #282828;
}
#btt{
  text-align: center;
  padding-top: 10px;
  height: 30px;
  font-weight: 550;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: transparent;
  outline: none;
  color: #121212;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
  color: #d2d2d2;
  box-shadow: 1px 3px 10px 2px #161616b6;
  }

  #btt:hover{
    background-color:  #d2d2d23b;
  }

#icon{
  height: 40px;
  width: 60px;
}



#name{
  font-size: 12px;
  margin-top: 1px;
  text-align: center;
  color: whitesmoke;
}

#ico{
  padding-top: 4px;
  height: 34px;
  width: fit-content;
  margin: auto;
}


#ico2{
  padding-top: 4px;
  height: 70px;
  width: fit-content;
  margin: auto;
}

#ic{
  padding-top: 2px;
  height: 50px;
  width: fit-content;
  margin: auto;
}

#img{
  height: 100%;
}
#iimg{
  width: 100%;
}

#logbox{
  height: fit-content;
  width: 350px;
  overflow-y: scroll;
  padding: 15px;
  color: white;
  font-size: 25px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #343b46;
  box-shadow: 1px 3px 10px 2px #121212;

  animation-name: boxanim;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media screen and (max-width: 700px) {#logbox{ width: 300px }}
@keyframes boxanim {
  from {opacity: 0;
    transform: scale(0.7);}
  to {opacity: 1;
    transform: scale(1);}
}

#lbg1{
  margin-top: 20px;
}

#entrylabel{
  font-size: 12px;
  color: white;
}

#preloader{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: rgba(56, 56, 56, 0.465);
}

#preloader0{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: rgba(56, 56, 56, 0.465);
}

#spin{
  height: 100%;
  width: 100%;
  animation-name: rotation;
  animation: rotation 1s infinite linear;
 /* -webkit-animation-duration: 0.3s; */
 /* animation-duration: 0.3s; */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

#my{
  height: 40px;
  width: 40px;
}

#central{
  height: fit-content;
  width: fit-content;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#loader{
  height: 60px;
}

#key{
  display: flex;
  justify-content: space-between;
  font-size: 10;
  height: 40px;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

#code{
  display: flex;
  justify-content: space-between;
  font-size: 30;
  background-color: #282828;
  height: 40px;
  width: 130px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

#farm{
  height: 200px;
  max-width: 450px  ;
  overflow: hidden;
} 

#collection{
  z-index: 2;
    bottom: 0;
    height: 70px;
    width: calc(100vw - 10px);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    backdrop-filter: blur(1rem);
    background-color: #d2d2d23b;
}


#collection2{
  z-index: 2;
    bottom: 0;
    height: 90px;
    width: calc(100vw - 10px);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    backdrop-filter: blur(1rem);
    background-color: #12143263;
}
#tabtwo{
  width: calc(100vw - 10px);
  height: fit-content;
  background-color: #12143263;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 100px;

} 
#okuko{
  height: 240px;
  width: 180px;
  border-radius: 10px;
  background-color: #12143263;
  display: inline-block;
  box-shadow: 1px 3px 10px 2px #121212;}
#intwos{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#koi{
  background-color: rgb(18, 18, 18)63;
  height: 110px;
  width: 160px;
  margin-top: 5px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
#koimg{
  height: 110px;
  width: 160px;
  object-fit: cover;
}
#hf2{
  font-size: 12px;
  color: white;
  text-align: left;
  padding-top: 10px;
  width: 160px;
}
#bld{
  font-weight: bold;
}

#btx{
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(1, 91, 194);
  padding-top: 5px;
  height: 25px;
  border-radius: 10px;
}

#btx:hover{
  background-color:  rgb(86, 133, 193) ;
}
#glo{
  margin-top: 20px;
  height: 250px;
}

#glokid{
  margin-top: 20px;
  height: 400px;
  width: 350px;
  background-color: rgba(58, 87, 165, 0.571);
  overflow-y: scroll;
}

#blaze{
  font-size: 40px;
  color: white;
  font-weight: 500;
  border-radius: 20px;
}
#scroller{
  height: 320px;
  overflow-y: hidden;
  color: whitesmoke;
  border-style: dotted;
  border-radius: 10px;
  margin: 10px;
  font-size: 13px;}

#con{
  margin-top: 10px;
}
#conpro{
  animation: rotating 15s linear infinite;
}

@keyframes rotating {
  0%{margin-top: 0px; }
  100%{ margin-top:-1200px }
}

#mmm{
  text-align: center;
}

#phone{
  color: white;
  font-weight: bold;
}

#lout{
  height: 30px;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

#logout{
  z-index: 200;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #151b26ab;
}

#logbox-X{
  height: fit-content;
  width: 320px;
  overflow-y: scroll;
  padding: 15px;
  padding-bottom: 20px;
  color: white;
  font-size: 14px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #151B26;
  box-shadow: 1px 3px 10px 2px #121212;

  animation-name: boxanim;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#hilo{
  width: fill;
  display: flex;
  justify-content: space-between;
}

#bt0{
  text-align: center;
  padding-top: 8px;
  height: 27px;
  font-weight: 550;
  font-size: 14px;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
  outline: none;
  color: #121212;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
  color: #121212;
  background-color: #ffc13c;}

  #bt0:hover{
      background-color: #835d0c;}

  #bt01{
    text-align: center;
    padding-top: 8px;
    height: 27px;
    width: 280px;
    font-weight: 550;
    font-size: 14px;
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    outline: none;
    color: #121212;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    color: #121212;
    background-color: #ffc13c;}
  


  #id{
    color: white;
    margin-top: 10pxx ;
  }

  #recharge{
    margin-top: 30px;
  }

  #re{
    text-align: center;
    font-size: 15px;
  }

  #reimg{
    height: 100px;
  }

  #okuko2{
    margin: 10px;
    height: 150px;
    width: 175px;
    border-radius: 10px;
    display: inline-block ;
    box-shadow: 1px 3px 10px 2px #121212;}

    #ent{
      height:  200px;
      width: calc(100% - 50px);
      border-radius: 10px;
      box-shadow: 1px 3px 10px 2px #121212;
      color: white;
      font-size: 13px;
    }

    #entpikin{
      height: 90px;
      display: flex;
      padding-top: 10px;
      flex-direction: row;
      justify-content: space-evenly;
    }

#unient{
  margin-top: 10px;
  height:  150px;
  width: calc(100% - 50px);
  border-radius: 10px;
  box-shadow: 1px 3px 10px 2px #121212;
  color: white;
  font-size: 13px;

}
#unient2{
  margin-top: 10px;
  height:  150px;
  width: calc(100% - 50px);
  border-radius: 10px;
  box-shadow: 1px 3px 10px 2px #121212;
  color: white;
  font-size: 13px;
  background-color: gray;

}

#ooo{
  margin-top: 10px;
  height:  240px;
  width: calc(100% - 50px);
  border-radius: 10px;
  box-shadow: 1px 3px 10px 2px #121212;
  color: white;
  font-size: 13px;
  padding-top: 20px;
  margin-bottom: 100px;
}
#ok{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#bona{
  height: 100vh;
  width: 100vw;
  background-color: indianred;
  overflow-y: scroll;
}

#bonapro{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#probod{
  margin-top: 10px;
  height: 300px;
  width: calc(100% - 50px);
  box-shadow: 1px 3px 10px 2px #121212;
  border-radius: 10px;
}

#protext{
  padding-top: 10px;
  color: white;
  font-size: 20px;
  
}

#pp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 12px;
  margin: 12px;
}

#ph{
  margin-top: 10px;
  height: 300px;
  width: calc(100% - 50px);
  box-shadow: 1px 3px 10px 2px #121212;
  border-radius: 10px;
  height: fit-content;
}

#divnote{
  margin-top: 10px;
  font-size: 13px;
  color: white;
  padding: 20px;
  padding-bottom: 100px;
}

#uni{
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100vw;
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 0px;

    animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  
}
@keyframes pop {
  from {margin-bottom: -300px;}
  to {margin-bottom: 0px;}
}
  



#uni2{
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100vw;
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: -300px;

  animation-name: pop1;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes pop1 {
  from {margin-bottom: 0px;}
  to {margin-bottom: -300px;}
}

#rechargemom{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#rbox{
  color: white;
  text-align: center;
  padding-top: 10px;
  height: 70px;
  margin-top: 10px;
  width: 45%;
  background-color: #343b46;
  border-radius: 10px;

}

#rbox:hover{
  background-color:  #20242b ;
}

#well{
  margin: auto;
  width: fit-content;
}

#hover{
  position: absolute;
  right: 0px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

#waaa{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.586);
}

#hilox{
  width: fill;
  display: flex;
  justify-content: center;
}
#Overcover{
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.878);
}

#orangaton{
  padding-top: 10px;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}

#pato{
  height: 100px;
  padding-top: 4px;
  width: fit-content;
  margin: auto;
}

#dembabar{
position: absolute; 
top: 200px;
height: 60px;
width: 100vw;
background-color: rgba(0, 0, 0, 0.586);
}

#bt011{
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  height: 27px;
  width: 280px;
  font-weight: 550;
  font-size: 14px;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
  outline: none;
  color: #121212;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
  color: #121212;
  background-color: #ffc13c;}

  #bt0111{
    float: right;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    height: 27px;
margin-right: 10px;
    width: 160px;
    font-weight: 550;
    font-size: 14px;
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    outline: none;
    color: #121212;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    color: #121212;
    background-color: #ffc13c;}

  #baby{
    margin-top: 20px;
    height: fit-content;
    width: calc(100% - 50px);
    box-shadow: 1px 3px 10px 2px #121212;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
  }

  #babytxt{
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    overflow-y: scroll;
    font-size: 15 px;
  }

  #won{
    margin: 15px;
    font-size: 14px;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    overflow-y: scroll;
  }

 #ark{
  height: 30px;
  margin-left: 20px; 

 }

#newbod{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  color: white;
  text-align: center;
}
 #newbodbaby{
  padding: 10px;
  margin-top: 10px;
  color: white;
  text-align: center;
 }

 #newbodpix{
  height: 500px;
  padding-top: 4px;
  width: fit-content;
  margin: auto;
  overflow: hidden;
 }

 #pato2{
  height: 100%;
  padding-top: 4px;
  width: fit-content;
  margin: auto;
}


#bab{
  margin-top: 20px;
  height: 500px;
  width: calc(100% - 50px);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
}

#demba{
  text-align: center;
  height: 60px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.586);
  color: white;}


  #nwademba{
    padding-top: 15px;
    color: white;
    text-align: center;
  }

  
 #arka{
  height: 30px;
  float: left;
  margin-left: 20px;
  margin-top: -20px;
 }

 #pato3{
  height: 300px;
  padding-top: 20px;
  margin: auto;
}

#dembabar2{
  position: absolute; 
  top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  border-radius: 20px;
  height: 60px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.586);
  }

  #dembabar3{
    position: absolute; 
    top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border-radius: 20px;
    height: 60px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.586);
    }
  

  #ok{
    padding: 10px;
  }